<h1>Swords</h1>

<p>A MEAN stack CRUD database, using MongoDB, Express, Angular, and Node. Routes: INDEX, NEW, SHOW, EDIT, UPDATE, DESTROY. The Angular routes go to corresponding Express routes. The Delete and Update buttons require refreshing the screen to see the changes.</p>

<table>
  <tr>
    <th>Sword</th>
    <th>Owner</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr ng-repeat="sword in swords">
    <td><span class="swordName">
      <!-- <a ng-href="{{'api/swords/' + sword._id}}">{{sword.swordName}}</a></span> -->
      <a ng-href="/#/{{sword._id}}">{{sword.swordName}}</a></span></td>
    <td><span class="swordOwner">{{sword.swordOwner}}</span></td>
    <td><a ng-href="/#/{{sword._id}}/edit"><button>Edit Sword</button></a></td>
    <td><button ng-click="deleteSword(sword)">Delete Sword</button></td>
  </tr>
</table>

<hr>

<p>Add a new sword</p>

<p><a ng-href="https://en.wikipedia.org/wiki/List_of_historical_swords">Wikipedia list of historical swords</a></p>

<form ng-submit="addSword()" class='addSword'>
  <label for="swordName">Sword Name: </label>
    <input type="text" name="swordName" ng-model="sword.swordName" required></label><br>
  <label for="swordOwner">Sword Owner: </label>
    <input type="text" name="swordOwner" ng-model="sword.swordOwner" required></label><br>
  <input type="submit" value="Add Sword"></input>
</form>
